#alert {
	display: flex;
	flex-direction: column;
	align-items: center;
	--opacity: 0.1;
	background-color: hsla(var(--in) / var(--opacity));
	color: hsla(var(--in));
	padding: 1rem;
	border-radius: 1rem;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--basic: 0 50% 50%;
}

:host(*[tiny]) #alert {
	padding: 0.3rem 0.65rem;
}

:host(*[tiny]) v-icon {
	width: 16px;
	height: 16px;
}
:host(*[text]) v-icon, :host(*[simple]) v-icon {
	display: none;
}

#alert.toast {
	--opacity: 0.65;
	color: #fff !important;
}
#alert.toast ::slotted(*) {
	color: #fff !important;
}
#alert,::slotted(*) {
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--basic: 0 50% 50%;
}

#alert.warning {
	background-color: hsla(var(--wa) / var(--opacity));
	color: hsla(var(--wa) / 1);
}

#alert.simple {
	background-color: hsla(0 0% 10% / var(--opacity));
	color: #333;
}

#alert.info {
	background-color: hsla(var(--in) / var(--opacity));
	color: hsla(var(--in) / 1);
}

#alert.success {
	background-color: hsla(var(--su) / var(--opacity));
	color: hsla(var(--su)/1);
}

#alert.error {
	background-color: hsla(var(--er) / var(--opacity));
	color: hsla(var(--er)/1);
}
:host(*[tiny]) #alert {
	flex-direction: row;
}
@media (min-width: 768px) {
	#alert {
		flex-direction: row;
	}
	:host(*[tiny]) #alert {
		flex-direction: row;
	}
}