name: Yarn build

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs: {}

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 16
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Build
      run: |
        yarn
        yarn build git
        
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        cname: veef.clean8s.com
        publish_dir: ./gh-dist
        force_orphan: true
