name: Yarn build

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs: {}

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 16
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - name: Build
      run: |
        yarn
        yarn build git
    - name: Deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "gh-action"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git remote set-url --push origin https://fikisipi:$GITHUB_TOKEN@github.com/clean8s/veef
        git checkout -b gh-pages
        ls | grep -v -E "(git|CNAME)" | xargs rm -rf
        git add -A
        git commit -m "Deploy web"
        git push -u --force origin gh-pages 
