on: push

jobs:
  webpush:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - run: |
        yarn
        yarn build
        export RNG=$(python3 -c "import random; print(random.randint(1, 1 << 24))")
        mv dist/veef.es.js "dist/veef${RNG}.js"
        mv dist/style.css "dist/style${RNG}.css"
        sed -i "s/veef.es.js/veef${RNG}.js/g" dist/index.html
        sed -i "s/style.css/style${RNG}.css/g" dist/index.html
        git clone -b web https://github.com/clean8s/veef.git /home/runner/web
        cp /home/runner/web/CNAME dist
        rm -rf /home/runner/web/*
        mv -t /home/runner/web/ dist/*
        cd /home/runner/web
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add -A && git commit -m "[veef] w-update"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GH_SECRET }}
        repository: clean8s/veef
        branch: web
        directory: /home/runner/web
